body{
  text-align: center;
  background-color:#fafafa;
}
label{
  padding: 10px;
}
div{
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1px 15px;
}

nav{
  background-color: #3800b3;
  text-transform: uppercase;
  font-family: "Arial";
  font-weight: 600;
}

.nav{
  color: white;
}

button{
  background-color: #6200ee;
  color: white;
  text-transform: uppercase;
  padding: 9px 16px;
  width: 50%;
  font-weight: 600;
  margin: 2%;
  border-radius: 7px;
}
button:hover{
  background-color: #a771f3;
  color: white;
}

#submitNewUser, #loginButton{
  width: 230px;
  height: auto;
  margin-top: 25px;
}

.columnlayout{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cart{
  width: 30px;
  height: auto;
}

#checkOutbtn {
  bottom: 0px;
  right: 10px;
  width: 100px;
}

#purchase{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#form__message--error{
  color:red;
}

.use{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
} 

.cen{
  display: flex;
  justify-content: center;
}

#uploadIcon{
  width: 20px;
  height: auto;
  margin: 6px;
}

#hiddenform{
  display: none;
  background: #a771f3;
  width: 50%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px 15px;
  border-radius: 10px;
  z-index: 1;
}

.rowlayout{
  display: flex;
  flex-direction: row;
  align-items: center;
}